<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <label for="name">name</label>
        <input type="text" value="" name="name">
        <label for="age" >AGE</label>
        <input type="number" value="" name="id">
        <label for="place">PLACE</label>
        <input type="text" value="" name="place">
        <label for="id" >ID</label>
        <input type="number" value="" name="age">
        <input type="submit" value="submit">

    </form>
</body>
</html>